<h3>05/09/2019</h3>
<h1>Hello, my name is Exequiel Moneva and this is my first Python+Django website</h1>
<br/>
<h2>This part of the website has been created to let you know what is this all about</h2>
<h3>I've created this website as a sort of a practice for the future.
  Basically, this webpage will receive a text and tell you how many words does it have.</h3>

  <h4>Thank you for testing it. Have a nice day!</h4>
</form>
<form action="{% url 'home' %}">
  <input type="submit" value="Return home"/>

</form>
